.game {
	display: flex;
	gap: 2rem;
	width: 100vw;
	height: 90vh;
}

@media screen and (max-width: 1024px){
	.game {
		flex-direction: column;
		height: auto;
		position: absolute;
		top: 0;
		padding: 5%;
	}

	#root {
		padding: 10%;
	}
}

@media screen and (max-width: 800px){
	.game {
		flex-direction: column;
		height: auto;
	}
}