#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.square {
	width: 100px;
	position: relative;
	height: 100px;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.square-light {
	background-color: rgb(202, 251, 217);
}

.square-dark {
	background-color: rgb(0, 144, 43);
}

.square-checked {
	background-color: red;
}

.square-selected {
	background-color: orange;
}

.highlight {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	width: 25%;
	height: 25%;
	border-radius: 100%;
}