.board {
	aspect-ratio: 1 / 1;
	border-radius: 5px;
	overflow: hidden;
	width: 100%;
	display: grid;
	grid-template-rows: repeat(8, 1fr);
}

.row {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
}

.square {
	aspect-ratio: 1 / 1;
	height: 100%;
	padding: 3px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
}

.square-light {
	background-color: rgb(202, 251, 217);
}

.square-dark {
	background-color: rgb(0, 144, 43);
}

.square-checked {
	background-color: red;
}

.square-dark.square-selected {
	background-color: rgb(255, 140, 0);
}

.square-light.square-selected {
	background-color: rgb(255, 180, 0);
}

.highlight {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.2);
	width: 25%;
	height: 25%;
	border-radius: 100%;
}

.capture-highlight {
	position: absolute;
	border: 1em solid rgba(0, 0, 0, 0.2);
	width: 80%;
	height: 80%;
	border-radius: 100%;
}

.piece-image {
	width: 80%;
	height: 80%;
	pointer-events: none;
	user-select: none;
}

.col-num {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 10px;
	font-size: 1rem;
}

.row-num {
	position: absolute;
	top: 0;
	left: 0;
	margin: 10px;
	font-size: 1rem;
}

.square-dark .col-num, .square-dark .row-num {
	color:rgb(202, 251, 217)
}


.square-light .col-num, .square-light .row-num {
	color: rgb(0, 144, 43)
}