*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: rgb(29, 29, 29);
	padding-left: 10rem;
	padding-right: 10rem;
}